* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border-bottom-custom-color-1{
    border-bottom: 1px solid #ced4da;
}

h1.total-items a:hover {
    text-decoration: underline !important;
}